Repository jupyterlab/jupyterlab: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix -c tslint.json, eslint --fix

convert mainmenu
  tests/test-mainmenu/jest.config.js
  tests/test-mainmenu/karma-cov.conf.js
  tests/test-mainmenu/karma.conf.js
  tests/test-mainmenu/package.json
  tests/test-mainmenu/run.py
  tests/test-mainmenu/src/edit.spec.ts
  tests/test-mainmenu/src/file.spec.ts
  tests/test-mainmenu/src/help.spec.ts
  tests/test-mainmenu/src/kernel.spec.ts
  tests/test-mainmenu/src/labmenu.spec.ts
  tests/test-mainmenu/src/mainmenu.spec.ts
  tests/test-mainmenu/src/run.spec.ts
  tests/test-mainmenu/src/util.ts
  tests/test-mainmenu/src/view.spec.ts
  tests/test-mainmenu/tsconfig.json
Due: prettier --write, tslint --fix -c tslint.json, eslint --fix

convert observables
  tests/test-observables/jest.config.js
  tests/test-observables/karma-cov.conf.js
  tests/test-observables/karma.conf.js
  tests/test-observables/package.json
  tests/test-observables/run.py
  tests/test-observables/src/modeldb.spec.ts
  tests/test-observables/src/observablejson.spec.ts
  tests/test-observables/src/observablelist.spec.ts
  tests/test-observables/src/observablemap.spec.ts
  tests/test-observables/src/observablestring.spec.ts
  tests/test-observables/src/undoablelist.spec.ts
  tests/test-observables/tsconfig.json
Due: prettier --write, tslint --fix -c tslint.json, eslint --fix

convert outputarea
  tests/test-outputarea/jest.config.js
  tests/test-outputarea/karma-cov.conf.js
  tests/test-outputarea/karma.conf.js
  tests/test-outputarea/package.json
  tests/test-outputarea/run.py
  tests/test-outputarea/src/model.spec.ts
  tests/test-outputarea/src/widget.spec.ts
  tests/test-outputarea/tsconfig.json
Due: prettier --write, tslint --fix -c tslint.json, eslint --fix

retry
  tests/test-apputils/package.json
Due: prettier --write

Initial release highlights.
  docs/source/getting_started/changelog.rst
  scripts/release_template.txt
Due: none

Let `toolbarFactory` `MimeDocumentFactory` option `undefined` if rendermime extension has no `toolbarFactory` option.
  packages/application/src/mimerenderers.ts
Due: prettier --write, tslint --fix -c tslint.json

Revise 0.35 release highlights
  docs/source/getting_started/changelog.rst
Due: none

Fix community guide link
  docs/source/index.rst
Due: none

Run jest tests with jlpm run test
  package.json
Due: prettier --write

Force colors in travis
  scripts/travis_script.sh
Due: none

Delete debug logging in tests
  tests/test-cells/src/widget.spec.ts
  tests/test-codeeditor/src/editor.spec.ts
Due: prettier --write, tslint --fix -c tslint.json

More editing of release highlights.
  docs/source/getting_started/changelog.rst
Due: none

Soften language address comments.
  jupyterlab/CORPORATE.md
Due: prettier --write

remove false Python2 support claim from README
  README.md
Due: prettier --write

More fine tuning of the language.
  jupyterlab/CORPORATE.md
Due: prettier --write

remove date of Python 3.5 migration
  README.md
Due: prettier --write

Use setRelativeSizes to set initial width of side panel.
  packages/application/src/shell.ts
Due: prettier --write, tslint --fix -c tslint.json

Fix mismatched emphasis typo
  jupyterlab/CORPORATE.md
Due: prettier --write

fix the linting
  README.md
Due: prettier --write

simplified `_intersection`, fixed capitalization
  packages/filebrowser-extension/src/index.ts
Due: prettier --write, tslint --fix -c tslint.json

Change relative sizes.
  packages/application/src/shell.ts
Due: prettier --write, tslint --fix -c tslint.json

Remove '*' prompt from cells that don't execute after an exception
  packages/notebook/src/actions.tsx
Due: prettier --write, tslint --fix -c tslint.json

Reduce min-size of L/R panel to 150px.
  packages/theme-dark-extension/style/variables.css
  packages/theme-light-extension/style/variables.css
Due: prettier --write

don't swallow all exceptions from runCell
  packages/notebook/src/actions.tsx
Due: prettier --write, tslint --fix -c tslint.json

call notebook.update() after fixing * prompts
  packages/notebook/src/actions.tsx
Due: prettier --write, tslint --fix -c tslint.json

use strict equality for error message comparison
  packages/notebook/src/actions.tsx
Due: prettier --write, tslint --fix -c tslint.json

Bump the minimum sidebar width to 180px.
  packages/theme-dark-extension/style/variables.css
  packages/theme-light-extension/style/variables.css
Due: prettier --write

Fix minor typo in contributing guide
  CONTRIBUTING.md
Due: prettier --write

Add exclude list for clean:slate script
  clean.py
Due: none

Full height output in mirrored output area
  packages/outputarea/style/index.css
Due: prettier --write

first pass at a fix for the icons in "Open With..."
  packages/filebrowser-extension/src/index.ts
Due: prettier --write, tslint --fix -c tslint.json

Integrity.
  packages/filebrowser-extension/package.json
Due: prettier --write

Update the update-dependency script to accept regexes and version tags
  CONTRIBUTING.md
  buildutils/src/update-dependency.ts
  buildutils/src/utils.ts
  package.json
Due: prettier --write, tslint --fix -c tslint.json

Fix lint error
  packages/outputarea/style/index.css
Due: prettier --write

Fix lint error
  buildutils/src/update-dependency.ts
Due: prettier --write, tslint --fix -c tslint.json

Update for jlab 0.35 prerelease
  packages/toc/package.json
  packages/toc/tsconfig.json
Due: prettier --write

Fix yarn.lock
  packages/toc/yarn.lock
Due: none

Fix problems pointed out by yarn check
  packages/toc/package.json
  packages/toc/yarn.lock
Due: prettier --write

Added a --dry-run option and printing of changes.
  buildutils/package.json
  buildutils/src/update-dependency.ts
  yarn.lock
Due: prettier --write, tslint --fix -c tslint.json

Set the base html element for the data so that relative links work.
  src/index.tsx
Due: prettier --write, tslint --fix -c tslint.json

Path conditions:
  prettier --write: any of: **/*{.ts,.tsx,.js,.jsx,.css,.json,.md}
  tslint --fix -c tslint.json: any of: **/*{.ts,.tsx}
  eslint --fix: any of: **/*{.js,.jsx}
